dist
dist-ssr
dist-electron
node_modules
out

.cache
.husky
.vite
.webpack

**/**/.vitepress/cache
**/**/.vitepress/dist

unpackage

package-lock.json
pnpm-lock.yaml

auto-imports.d.ts
components.d.ts

**/*iconfont*
**/*.min.js
**/*.min.css
**/*.map
