#!/usr/bin/env bash

# [[ -f $HOME/.envrc ]] && source $HOME/.envrc

# ELECTRON_MIRROR 一定要有最后边的斜线 /
export ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"

# FNM_NODE_DIST_MIRROR 可以要、也可以不要最后的斜线 /
export FNM_NODE_DIST_MIRROR="https://npmmirror.com/mirrors/node"
export FNM_PATH="$HOME/.local/share/fnm"
export PATH="$FNM_PATH:$PATH"

[[ $FNM_PATH/fnm ]] && eval "$(fnm env --use-on-cd)"

export EDITOR="vim"

export GOPATH="$HOME/go"
export GO111MOGULE="on"
export GOPROXY="https://goproxy.cn"
