#!/usr/bin/env bash

# ELECTRON_MIRROR 一定要有最后边的斜线 /
export ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"
# NVM_NODEJS_ORG_MIRROR 可以要、也可以不要最后的斜线 /
export NVM_NODEJS_ORG_MIRROR="https://npmmirror.com/mirrors/node"

export EDITOR="vim"
export NVM_DIR="$HOME/.nvm"
export PNPM_HOME="$HOME/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"

export GOPATH="$HOME/go"
export GO111MOGULE="on"
export GOPROXY="https://goproxy.cn"
